<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper:根标签，namespace：命名空间，随便写，一般保证命名空间唯一 -->
<mapper namespace="com.yzy.dao.UserDao">
    <!-- statement，内容：sql语句。id：唯一标识，随便写，在同一个命名空间下保持唯一
       resultType：sql语句查询结果集的封装类型,tb_user即为数据库中的表
     -->
    <select id="select" resultType="com.yzy.entity.User">
      select * from user where id = #{id}
   </select>

    <update id="update" parameterType="com.yzy.entity.User">
      update user set name = #{name} where id=#{id};
   </update>

    <insert id="insert" parameterType="com.yzy.entity.User">
      insert into user(id, name) values(#{id}, #{name});
   </insert>
</mapper>